.box {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.image-box {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.image-box img {
    display: none;
    width: 200px;
    height: 200px;
}